# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\lenovo\Desktop\Assel Mussamatdin\IITU\Subjects\7th semester\Development of web- services in the Java EE Platform\Creating-and-Communicating-Microservices-master\Creating-and-Communicating-Microservices-master\books\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
